#searchBar {
    display: none;
    width: calc(100% - 80px);
    box-sizing: border-box;
    padding: 10px 40px;
    margin: auto 40px;
    outline: none;
    background-color: #1e6ba9;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 3px;
    font-size: 1.2em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
}

#searchBar:hover {
    border-radius: 0.25rem;
    background-color: white;
    box-shadow: 0 1px 0 rgb(9 45 66 / 25%);
    color: #757575;
}

#searchBar + button {
    position: absolute;
    top: 10px;
    left: calc(100% - 90px);
    outline: none;
    background: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 3px;
    background-color: transparent;
    font-size: 1.4rem;
    line-height: 40px;
    font-weight: 300;
    cursor: pointer;
    width: 2.4rem;
    height: 2.4rem;
}
#searchBar + button:hover {
    color: rgba(0, 0, 0, 0.5);
    background-color: darkgray;
}
